<h1>Bienvenido a Fizzbuzz</h1>
<label> Ingresa un numero: </label>
<form method='post' action='/generar'>
    <input type='text' name='numero_ingresado'>
    <input type='submit' value='Generar'>
</form>